<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title style="font-size: 24px; font-weight: bold; font-family: 'Poppins', sans-serif;">Dashboard | Customer Support</title>
    <style>
        body {
            background-color: #E7EFE1;
            font-family: 'Poppins', sans-serif;
        }

        h2 {
            margin-top: 30px;
            text-align: center;
            margin-bottom: 40px;
            font-size: 28px;
            color: #475b4d;
        }
    </style>
</head>
<body>
    <h2>Customer Support Dashboard</h2>
</body>
</html>
