<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title style="font-size: 24px; font-weight: bold; font-family: 'Poppins', sans-serif;">Login | Customer</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <h2>Customer Login</h2>
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <form action="{% url 'customer_login' %}" method='post'>
        {% csrf_token %}
        {{ form.as_div }}
    <button name="submit">Log in</button>
</form>
</body>
</html>
