<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title style="font-size: 24px; font-weight: bold; font-family: 'Poppins', sans-serif;">Login | Customer Support</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <h2>Customer Support Login</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">Username:</label>
            {{ form.username }}
        </div>
        <div class="form-group">
            <label for="id_password">Password:</label>
            {{ form.password }}
        </div>
        <div class="button-container">
            <button type="submit"><b>Login</b></button>
        </div>
    </form>
</body>
</html>
